@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

body {
  font-size: 16px;
  font-family: Urbanist, sans-serif;
  color: #242424;
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  background-color: #f8c0c6;
}

.font-default {
  font-family: Arial, Helvetica, sans-serif;
}

.font-Extra {
  font-family: ExtraExpanded, sans-serif;
}

.font-bubblegum {
  font-family: Bumbblegum;
}

@font-face {
  font-family: ExtraExpanded;
  src: url("./fonts/PoufV0.2-BlackExtraExpanded.woff2");
}

@font-face {
  font-family: Urbanist;
  src: url("./fonts/Urbanist-Regular.woff2");
}

@font-face {
  font-family: Bumbblegum;
  src: url("./fonts/Bubblegum.woff2");
}

.home-banner {
  background-image: url("../assets/games_room-lg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.ani-fade-down {
  animation: fade-down 2000ms infinite ease-in-out;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(3px);
  }

  50% {
    opacity: 1;
    transform: translateY(10px);
  }

  100% {
    opacity: 0;
    transform: translateY(35px);
  }
}

.header-mobile .ant-drawer-header {
  @apply bg-black;
}

.header-mobile .ant-drawer-body {
  @apply bg-[#171a1d];
}

.shadow-languages,
.shadow-banner,
.shadow-card {
  box-shadow: #00000059 0 5px 15px;
}

.animate-flash {
  animation: flash .35s infinite alternate;
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.buy-token-multiDot {
  box-shadow: #0000001a 0 4px 12px;
}

.shadow-progress-btn {
  box-shadow: #0000003d 0 3px 8px;
}

.shadow-dropdown {
  box-shadow: #0000003d 0 3px 8px;
}

.shadow-wallet {
  box-shadow: rgba(14, 14, 44, 0.1) 0px 20px 36px -8px, rgba(0, 0, 0, 0.05) 0px 1px 1px;
}

.bg-connect-wallet {
  background: linear-gradient(139.73deg, rgb(229, 253, 255) 0%, rgb(243, 239, 255) 100%);
}

.slick-slider .slick-arrow {
  @apply w-[28px] h-[28px] bg-[#f38590] text-white rounded-full;
  border: 5px solid #F9C7CC !important;
}

.slick-slider .slick-arrow.slick-disabled {
  @apply bg-[#ccc];
}

.slick-slider .slick-next {
  @apply right-[-50px];

}

.slick-slider .animate-live-text-flash {
  animation: live-text-flash .65s infinite;
}

.slick-slider .slick-list::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 100%;
  background:
    linear-gradient(90deg, #fffef5 0%, transparent 100%);

  transform: rotate(180deg);

}

@keyframes live-text-flash {
  15% {
    fill: #04f7fc;
  }

  25% {
    fill: #828490;
  }

  35% {
    fill: #ff1329;
  }

  65% {
    fill: #ff1329;
  }

  75% {
    fill: #828490;
  }

  85% {
    fill: #04f7fc;
  }

}