@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

body {
  font-size: 16px;
  font-family: Sora, cursive, uis, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  background-color: #000;
}

.font-default {
  font-family: Sora, sans-serif;
}

.font-inder {
  font-family: Inder;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Inder;
  src: url("./fonts/Inder-Regular.ttf");
}

@font-face {
  font-family: Sora;
  src: url("./fonts/Sora-Regular.ttf");
}

.home-banner {
  background-image: url("../assets/banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.shadow-logo {
  filter: drop-shadow(0px 7px 7px rgb(14, 20, 30));
}

.shadow-text {
  text-shadow: 0px 4px 4px #014c73;
}

.bg-btn {
  background: conic-gradient(from 170.96deg at 50% 50%,
      #f1f6fe 0deg,
      #4acfff 74.18deg,
      #75dbff 88.71deg,
      #fcfdff 119.15deg,
      #c1efff 193.22deg,
      #dfedff 214.33deg,
      #5ed5ff 250.9deg,
      #ffffff 292.84deg,
      #7eddff 330.8deg,
      #f1f6fe 360deg);
  background-clip: text;
  color: transparent;
}

.text-tourquise {
  background: conic-gradient(from 170.96deg at 50% 50%,
      #f1f6fe 0deg,
      #4acfff 74.18deg,
      #75dbff 88.71deg,
      #fcfdff 119.15deg,
      #c1efff 193.22deg,
      #dfedff 214.33deg,
      #5ed5ff 250.9deg,
      #ffffff 292.84deg,
      #7eddff 330.8deg,
      #f1f6fe 360deg);
  background-clip: text;
  color: transparent;
}

.shadow-card {
  box-shadow: 0 16px 40px #0c5d9e1a, 0 10px 32px #2722241a;
}

.card-top {
  background: linear-gradient(180deg, #4acfff -4.32%, #042948 91.56%);
}