@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

body {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  color: #182b48;
  /* background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  background-color: #000;
  line-height: 1.4;
}

.font-default {
  font-family: Poppins, sans-serif;
}

.font-inder {
  font-family: Inder;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Inder;
  src: url("./fonts/Inder-Regular.ttf");
}

.home-banner {
  background-image: url("../assets/banner.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1280px) {
  .home-banner {
    background-image: url("../assets/banner-mob.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}

@media screen and (min-width: 1300px) {
  .home-banner {
    height: 100vh;
  }


}

@media screen and (min-width: 1300px) and (max-width: 1400px) {

  .banner-des {
    margin-top: 200px !important;
  }

  .intro {
    margin-top: 400px !important;
  }
}

@media screen and (max-width: 576px) {
  .banner-des {
    margin-top: 200px !important;
  }
}

@media screen and (min-width: 576px) and (max-width:1300px) {

  .banner-des {
    margin-top: 0px !important;
  }
}


.shadow-logo {
  filter: drop-shadow(0px 7px 7px rgb(14, 20, 30));
}

.shadow-text {
  text-shadow: 0px 4px 4px #014C73;
}

.bg-btn {

  background: conic-gradient(from 170.96deg at 50% 50%, #F1F6FE 0deg, #4ACFFF 74.18deg, #75DBFF 88.71deg, #FCFDFF 119.15deg, #C1EFFF 193.22deg, #DFEDFF 214.33deg, #5ED5FF 250.9deg, #FFFFFF 292.84deg, #7EDDFF 330.8deg, #F1F6FE 360deg);
  background-clip: text;
  color: transparent;
}

.text-tourquise {
  background: conic-gradient(from 170.96deg at 50% 50%, #F1F6FE 0deg, #4ACFFF 74.18deg, #75DBFF 88.71deg, #FCFDFF 119.15deg, #C1EFFF 193.22deg, #DFEDFF 214.33deg, #5ED5FF 250.9deg, #FFFFFF 292.84deg, #7EDDFF 330.8deg, #F1F6FE 360deg);
  background-clip: text;
  color: transparent;
}

.shadow-card {
  box-shadow: 0 16px 40px #0c5d9e1a, 0 10px 32px #2722241a;
}

.card-top {
  background: linear-gradient(180deg, #4ACFFF -4.32%, #042948 91.56%);
}